@use '/src/styles/contants/color';

.calendarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.calendarHandler {
  display: flex;
  align-items: center;
  height: 40px;

  .prevBtn {
    width: 20px;
    height: 20px;
    border: 3px solid color.$BLACK;
    border-top-color: transparent;
    border-right-color: transparent;
    transform: rotate(45deg);
  }

  .nextBtn {
    width: 20px;
    height: 20px;
    border: 3px solid color.$BLACK;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(-45deg);
  }
}

.canlendarTitle {
  width: 160px;
  height: 40px;
  margin: 0 20px;
  font-size: 30px;
  font-weight: 800;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
}

.calendarSection {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
}

.calendarCell {
  width: 100px;
  height: 50px;
  padding: 20px 10px;

  &.item {
    height: 200px;
    color: color.$GRAYA;
    border-top: 3px solid color.$GRAYA;

    &.current {
      color: color.$BLACK;
      border-top: 3px solid color.$BLACK;
    }

    &.today {
      color: color.$CALENDAR_TODAY;
      border-top: 3px solid color.$CALENDAR_TODAY;
    }
  }
}
