@use '/src/styles/contants/color';

.calendarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.calendarSection {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
}

.calendarCell {
  width: 100px;
  height: 50px;
  padding: 20px 10px;

  &.item {
    height: 200px;
    color: color.$GRAYA;
    border-top: 2px solid color.$GRAYA;

    &.current {
      color: color.$BLACK;
      border-top: 2px solid color.$BLACK;
    }
  }
}
