@use '/src/styles/contants/color';

.logContainer {
  padding: 10px 0;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px color.$GRAYA, -3px 3px 3px color.$GRAYA;
}

.logKeyword {
  height: 30px;
  padding: 0 15px;
  line-height: 30px;
  vertical-align: middle;

  &:focus {
    background-color: color.$GRAYD;
  }

  + .logKeyword {
    margin-top: 10px;
  }
}

strong {
  font-weight: 600;
}
