@use '/src/styles/contants/color';

.input {
  width: 600px;
  height: 30px;
  padding: 5px 15px;
  color: color.$BLACK;
  background-color: color.$GRAYE;
  border-radius: 40px;
}

.searchValue {
  margin-top: 20px;
  font-size: 30px;
}
