@use '/src/styles/contants/color';

.optionList {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-top: 10px;
  border: none;

  &.isBorder {
    border: 1px solid color.$GRAYD;
    border-radius: 5px;
  }
}
